<!DOCTYPE html>
<html>

<head>
  <title>Pink Promise</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="static/CDN/panacea/assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="static/CDN/panacea/assets/css/noscript.css" />
  </noscript>
</head>

<body class="is-preload">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <!-- Logo -->
        <a href="/" class="logo">
          <span class="symbol"><img src="static/CDN/images/panacealogo.png" alt=""
              style="width: 12em !important; height: 3em !important" /></span>
        </a>

        <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Start helping Girl Children/Myself</a></li>
        <li><a href="/ServiceTerms">Terms of Service</a></li>
        <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
        <li><a href="/Feedback">Feedback</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main">
      <div class="inner">
        <header>
          <span style="font-weight: bold; font-size: 24px;">Welcome to <span style="color: blue;">Pink Promise</span>,<br />
            our
            <span style="color: blue;">Google Gemini Nano</span> powered
            AI Health Care
            app for
            empowering self care in girls in
            developing nations</span>

        </header>
        <div>
          <!-- <img src="static/CDN/images/Gemini AI.png" style="width: 100%" /> -->
           <ul>
            <li>
              Pink Promise has dual modes. A girl child can use the web app for her self needs without connecting to Internet or there could be a mentor like bluecross etc., providing guided medical assistance.
            </li>
            <li>
              The application is powered by most of the top gemini Nano features including the Summarization, multimodal, Translation and Prompt API. We have effectively used Multi modal to extract data from medicial images like X-rays, diagnosis PDF reports, video consultations etc.
            </li>
           </ul>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <section>
          <h2>Get in touch</h2>
          <form method="post" action="#">
            <div class="fields">
              <div class="field half">
                <input type="text" name="name" id="name" placeholder="Name" />
              </div>
              <div class="field half">
                <input type="email" name="email" id="email" placeholder="Email" />
              </div>
              <div class="field">
                <textarea name="message" id="message" placeholder="Message"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send" class="primary" /></li>
            </ul>
          </form>
        </section>
        <section>
          <h2>Follow</h2>
          <ul class="icons">
            <li>
              <a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li>
              <a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a>
            </li>
            <li>
              <a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a>
            </li>
            <li>
              <a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a>
            </li>
            <li>
              <a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a>
            </li>
            <li>
              <a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a>
            </li>
          </ul>
        </section>
        <ul class="copyright">
          <li>&copy; Untitled. All rights reserved</li>
          <li><a href="/">Pink Promise</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="static/CDN/panacea/assets/js/jquery.min.js"></script>
  <script src="static/CDN/panacea/assets/js/browser.min.js"></script>
  <script src="static/CDN/panacea/assets/js/breakpoints.min.js"></script>
  <script src="static/CDN/panacea/assets/js/util.js"></script>
  <script src="static/CDN/panacea/assets/js/main.js"></script>
</body>

</html>