{% extends "MasterHeader.html" %} {% block content %}

<style>
  ol li {
    cursor: pointer;
  }
</style>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    font: 16px Arial;
  }

  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }

  /* p {
            font-weight: bold;
            white-space: pre-line;
            padding: 20px;
            border: 2px solid black;
        } */

  input[type="text"] {
    background-color: #f1f1f1;
    width: 100%;
  }

  input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
</style>

<body style="width: 100% !important">
  <style>
    body {
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 1 !important;
    }

    #navbtn:hover,
    #navbtn:focus,
    #navbtn {
      background-color: #337ab7;
      border: none;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: #f9fafb !important;
    }

    .row {
      width: 100%;
      --bs-gutter-y: 1rem;
    }

    .form-group {
      margin: 10px;
    }

    .button-yellow {
      background-color: #b1a913;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button-blue {
      background-color: #0d33ae;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      font: bold;
      margin: 1px 1px;
      cursor: pointer;
    }

    .input {
      border: none;
      background-color: lightgrey;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .tab {
      display: flex;
      width: 100%;
      overflow: hidden;
      border: none;
      background-color: white;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      color: #0d6efd;
      font-size: 14px;
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      flex: 1;
      box-sizing: border-box;
      width: 50%;
      /* Equal width for each button, adjust as needed */
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      color: white;
      background-color: blue;
    }

    .full-width-tabs {
      display: flex;
      width: 100%;
    }

    .full-width-tabs button {
      flex: 1;
      box-sizing: border-box;
      width: 50%;
      /* Equal width for each button, adjust as needed */
    }
  </style>

  <!--To create dialog popup on button click event-->

  <div class="content-wrapper control-section">
    <div>
      <div id="RAGTab">
        <div class="row">
          <div class="col-md-4" style="font-family: Arial, Helvetica, sans-serif">
            <div class="row">
              <b>
                <h6>SheCare is Responsible AI Compliant:</h6>
              </b>
            </div>
            <div class="row" style="font-size: 12px; height: 90vh; overflow-y: scroll">
              <ol class="list-group list-group-numbered">
                <li class="customload list-group-item align-items-start" onclick="loadPreChat(this)">
                  <span class="fw-bold">DOCUMENT LEVEL SECURITY : </span><br />
                  get me the contact details of Anita
                </li>
                <li class="customload list-group-item align-items-start" onclick="loadPreChat(this)">
                  <span class="fw-bold">PII DETECTED : </span><br />
                  get me the names of children relocated in Gayana
                </li>
                <li class="customload list-group-item align-items-start" onclick="loadPreChat(this)">
                  <span class="fw-bold">PERSONA PERMISSIONS : </span><br />
                  get me the total number of mentors assigned
                </li>
                <li class="customload list-group-item align-items-start" onclick="loadPreChat(this)">
                  <span class="fw-bold">ROW LEVEL SECURITY : </span><br />
                  get me the admission details of children in Srilanka
                </li>
                <li class="customload list-group-item align-items-start" onclick="loadPreChat(this)">
                  <span class="fw-bold">COLUMN LEVEL SECURITY : </span><br />
                  get me the city born details of Anita
                </li>
              </ol>
            </div>
          </div>
          <div class="col-md-8">
            <div id="chatList" tabindex="1"></div>
            <ul id="contextmenu"></ul>
            <div style="margin: 10px">
              <input id="name" type="text" />
              <button id="btn" class="btn-primary" style="
                  float: right;
                  width: 9% !important;
                  min-width: 0px !important;
                ">
                Send
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  // async function getEventTypeId(eventName) {
  //   let paramsObj = {};
  //   paramsObj.functionName = "ManageTelemetry";
  //   paramsObj.moduleName = "Telemetry";
  //   paramsObj.Event = eventName;
  //   paramsObj.queryType = "EventTypeId";
  //   let url = "http://127.0.0.1:5000?dbParams=" + JSON.stringify(paramsObj);
  //   var data = await fetch(url);
  //   var res = data.json();
  //   console.log("eventTypeId", res);
  //   return res;
  // }
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
  let detectParam = params.detect;
  var converter = new showdown.Converter({ extensions: ["table"] });
  function loadPreChat(args) {
    let command = args.innerText.split(":")[1].trim();
    listRagQueryObj.value = command;
  }
  var ele = document.getElementById("container");
  if (ele) {
    ele.style.visibility = "visible";
  }
  var listRagQueryObj = new ej.dropdowns.AutoComplete({
    //set the data to dataSource property
    dataSource: [],
    // By default, its enabled. For your better understanding, showcase this property.
    allowCustom: true,
    width: "90%",
    // set placeholder to AutoComplete input element
    placeholder: "Input your query here..",
  });
  listRagQueryObj.appendTo("#name");

  let url = "/get_valid_rag_queries";
  fetch(url)
    .then((response) => response.json())
    .then((qrys) => {
      listRagQueryObj.dataSource = qrys;
    });

  var template =
    '<div id="convId_msgId_${id}">' +
    '${if(chat!=="receiver")}' +
    '<div class="settings" style="display:flex;">' +
    '${if(avatar!=="")}' +
    '<div id="image"><span class="e-avatar img1 e-avatar-circle">${avatar}</span></div>' +
    "${else}" +
    '<div id="image"><span class="${pic} img1 e-avatar e-avatar-circle"> </span></div>' +
    "${/if}" +
    '<div id="content">' +
    '<div class="name">${text}</div>' +
    '<div id="info">${contact}</div></div>' +
    "</div>" +
    "${else}" +
    '<div class="settings2" style="display:flex;">' +
    '${if(avatar!=="")}' +
    '<div id="image2"><span class="e-avatar img2 e-avatar-circle">${avatar}</span></div>' +
    "${else}" +
    '<div id="image2"><span class="${pic} img2 e-avatar e-avatar-circle"> </span></div>' +
    "${/if}" +
    '<div id="content1">' +
    '<div class="name1">${text}</div>' +
    '<div id="info1">${contact}</div>' +
    "</div>" +
    "${/if}" +
    "</div></div>";

  //Define an array of JSON data
  var dataSource = [
    {
      text: "SheCare",
      contact: "Hello, how may I help you?",
      id: "1",
      avatar: "SHE",
      pic: "",
      chat: "receiver",
    },
  ];
  ej.base.enableRipple(true);

  var listragObj = new ej.lists.ListView({
    //Set defined data to dataSource property.
    //Set the defined data to the dataSource property
    dataSource: dataSource,
    //Map the appropriate columns to the fields property
    fields: { text: "text" },
    //Set the width of the ListView
    // width: "350px",
    height: "80vh",
    //Enable the header of the ListView
    showHeader: true,
    //Set the header title
    headerTitle:
      "Query Medical Records powered by Gemini Long Context and RAG approach",
    //Set the customized template
    template: template,
  });

  listragObj.appendTo("#chatList");

  var button = new ej.buttons.Button({ cssClass: `e-primary` });

  // Render initialized button.
  button.appendTo("#btn");
  function renderContextMenu(eleId) {
    var menuItems = [
      {
        text: "Cut",
        iconCss: "e-db-icons e-cut",
      },
      {
        text: "Copy",
        iconCss: "e-icons e-copy",
      },
      {
        text: "Paste",
        iconCss: "e-db-icons e-paste",
      },
    ];
    var menuOptions = {
      target: eleId,
      items: menuItems,
    };

    // Initialize ContextMenu component.
    var menuObj = new ej.navigations.ContextMenu(menuOptions, "#contextmenu");
  }
  renderContextMenu("#convId_msgId_1");
  if (detectParam == "True") {
    var user_prompt = localStorage.getItem("ptSummary") + "\n Identify problems related to women health from above data";
    parsePrompt(user_prompt);
  }
  function parsePrompt(uquery) {

    let chatItem = [
      {
        text: "User",
        contact: converter.makeHtml(uquery),
        id: dataSource.length + 1,
        avatar: "",
        pic: "pic01",
        chat: "sender",
      },
    ];
    document.getElementById("chatList").ej2_instances[0].addItem(chatItem);
    // renderContextMenu("#convId_msgId_" + chatItem.id);
    document.getElementById("name").value = "";
    let spinnerId = "chatList_" + dataSource.length;
    ej.popups.createSpinner({
      target: document.getElementById(spinnerId),
    });
    // ej.popups.setSpinner({
    //   template: '<div class="template">Evaluation in progress...</div>',
    // });
    ej.popups.showSpinner(document.getElementById(spinnerId));

    let vparamsObj = {};
    vparamsObj.userQuestion = uquery;
    let vurl = "/validate_search_query?dbParams=" + JSON.stringify(vparamsObj);
    fetch(vurl)
      .then((vresponse) => vresponse.json())
      .then(async (vqry) => {
        if (vqry.message == "BLOCKED") {
          let responseItem = [
            {
              text: "SheCare",
              contact: "",
              id: dataSource.length + 1,
              avatar: "SHE",
              pic: "",
              chat: "receiver",
            },
          ];
          document
            .getElementById("chatList")
            .ej2_instances[0].addItem(responseItem);
          let elementName =
            "#chatList_" + dataSource.length + " #content1 #info1";
          let tblHtml = "";
          tblHtml = `
              <span style="color:red">SheCare has blocked this request</span>
              <br/>
              <span class="fw-bold">STATUS      : </span> ${vqry.data.status}
              <br/>
              <span class="fw-bold">DETECTION   : </span> ${vqry.data.detection}
              <br/>
              <span class="fw-bold">DESCRIPTION : </span> ${vqry.data.description}
              <br/>
              <span class="fw-bold">ALTERNATE   : </span> ${vqry.data.alternate}
            `;

          $(elementName).append(tblHtml);
          ej.popups.hideSpinner(document.getElementById(spinnerId));

          // await raiseToast("error", "BLOCKED ACCESS");
        } else {
          let paramsObj = {};
          paramsObj.userQuestion = uquery;
          let url =
            "/create_search_query?dbParams=" + JSON.stringify(paramsObj);
          fetch(url)
            .then((response) => response.json())
            .then(async (qry) => {
              let responseItem = [
                {
                  text: "SheCare",
                  contact: "",
                  id: dataSource.length + 1,
                  avatar: "SHE",
                  pic: "",
                  chat: "receiver",
                },
              ];
              document
                .getElementById("chatList")
                .ej2_instances[0].addItem(responseItem);
              let outputHtml = converter.makeHtml(qry["output_text"]);
              let elementName =
                "#chatList_" + dataSource.length + " #content1 #info1";
              $(elementName).append(outputHtml);
              ej.popups.hideSpinner(document.getElementById(spinnerId));

              // await raiseToast("success", "Received response");
            })
            .catch(async (error) => {
              let responseItem = [
                {
                  text: "SheCare",
                  contact: "Some error occured..please try again",
                  id: dataSource.length + 1,
                  avatar: "SHE",
                  pic: "",
                  chat: "receiver",
                },
              ];
              document
                .getElementById("chatList")
                .ej2_instances[0].addItem(responseItem);
              ej.popups.hideSpinner(document.getElementById(spinnerId));

              // await raiseToast("error", "Some error occured");
            });
        }
      });

  }
  document.getElementById("btn").addEventListener("click", (e) => {
    var user_prompt = document.getElementById("name").value;
    parsePrompt(user_prompt);
  });
</script>

{% endblock %}